<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M34.5938 11.96H6.40625C5.69864 11.96 5.125 12.5337 5.125 13.2413C5.125 13.9489 5.69864 14.5225 6.40625 14.5225H34.5938C35.3014 14.5225 35.875 13.9489 35.875 13.2413C35.875 12.5337 35.3014 11.96 34.5938 11.96Z"
        fill="#151515" />
    <path
        d="M29.4688 19.2205H6.40625C5.69864 19.2205 5.125 19.7941 5.125 20.5017C5.125 21.2093 5.69864 21.783 6.40625 21.783H29.4688C30.1764 21.783 30.75 21.2093 30.75 20.5017C30.75 19.7941 30.1764 19.2205 29.4688 19.2205Z"
        fill="#151515" />
    <path
        d="M34.5938 26.4775H6.40625C5.69864 26.4775 5.125 27.0511 5.125 27.7587C5.125 28.4663 5.69864 29.04 6.40625 29.04H34.5938C35.3014 29.04 35.875 28.4663 35.875 27.7587C35.875 27.0511 35.3014 26.4775 34.5938 26.4775Z"
        fill="#151515" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#classic">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#balance">Gameplay</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#choose">Bikes</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#build">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
            </ul>
        </nav>
       <a class="btn-google-play btn-google-play-desk"
        href="https://play.google.com/store/apps/details?id=com.tntgame.bicyclehillrace&hl=en&gl=us">
        <img src="/img/header/btn.png" alt="google play" loading="lazy">
    </a>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#classic">About</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#balance">Gameplay</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#choose">Bikes</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#build">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
    </ul>
    <a class="btn-google-play btn-google-play-mob" href="https://play.google.com/store/apps/details?id=com.tntgame.bicyclehillrace&hl=en&gl=us">
        <img src="/img/header/btn.png" alt="google play" loading="lazy">
    </a>
</div>