.footer {
background: linear-gradient(135deg, rgba(162, 201, 164, 0.3) 0%, rgba(102, 161, 158, 0.3) 100%);
}
.footer-container{
  padding-top: 33px;
  padding-bottom: 33px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 100px;
  line-height: 2;
    text-align: center;
    color: #151515;
}
.footer-text{
  margin-top: 20px;
  line-height: 2;
    text-align: center;
    color: #151515;
}
.footer-text-two{
  margin-top: 30px;
font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  color: #151515;
}
@media only screen and (min-width: 1440px) {
 .footer-text{
  margin-top: 60px;
 }
 .footer-text-two{
  margin-top: 60px;
 }
}